---
layout: layouts/base2.njk
eleventyNavigation:
  key: About Us
  order: 2
---
<div style="color: black;">
<h3>About Us</h3>
<p>We have been in the  industry for over 50 years, and are happy to help with any of your medical needs. Our team of experts are dedicated to patient care and can be contacted via email or telephone, or you can create an account on our registration page.</p>
</div>