---
layout: layouts/base.njk
eleventyNavigation:
  key: Vaccinations
  order: 6
---
<div style="color: black;">
<h2>Vaccinations</h2>
<p>Vaccinations help protect you and your family from many infectious diseases.</p>
<div class="card">
                <img class="card-img-top" src="https://plus.unsplash.com/premium_photo-1664053011441-e61b42285903?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8cHJlZ25hbnQlMjB3b21hbnxlbnwwfHwwfHx8MA%3D%3D" alt="Vaccinations During Pregnancy" />
                <div class="card-body">
                    <h4 class="card-title">Vaccinations During Pregnancy</h4>
                    <p class="card-text">Speak to us to find out about vaccinations you are able to take during your pregnancy.</p>
                </div>
            </div>
<div class="card">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1440288736878-766bd5839edb?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGNoaWxkfGVufDB8fDB8fHww" alt="Vaccinations For Children" />
                <div class="card-body">
                    <h4 class="card-title">Vaccinations For Children</h4>
                    <p class="card-text">To access your child's vaccination record, you should check your child's red book. If you are unable to find it, please contact us.</p>
                </div>
            </div>
<div class="card">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1564507592333-c60657eea523?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGFqJTIwbWFoYWx8ZW58MHx8MHx8fDA%3D" />
                <div class="card-body">
                    <h4 class="card-title">Going Abroad</h4>
                    <p class="card-text">When you travel abroad, you may be exposed to infectious diseases.  Please contact us to help you stay protected during your trip.</p>
                </div>
            </div>
</div>