---
layout: layouts/base.njk
---
<div style="color: black;">
    <p>Welcome to Priority Health Group, where your health is our priority!</p>
    <p>
        We can help you with any of the following:
        <div>
            <ul style="columns: 2; color: white;">
                <li style="margin-bottom: 0.5rem; margin-right: 1rem;">
                    <div class="d-grid gap-2">
                        <button
                            type="button"
                            name=""
                            id=""
                            class="btn btn-primary"
                        >
                            <a href=" " style="text-decoration: none; color: white;">Physical Health</a>
                        </button>
                    </div>
                </li>
                <li style="margin-bottom: 0.5rem; margin-right: 1rem;">
                    <div class="d-grid gap-2">
                        <button
                            type="button"
                            name=""
                            id=""
                            class="btn btn-primary"
                        >
                            <a href=" " style="text-decoration: none; color: white;">Mental Health</a>
                        </button>
                    </div>
                </li>
                <li style="margin-bottom: 0.5rem; margin-right: 1rem;">
                    <div class="d-grid gap-2">
                        <button
                            type="button"
                            name=""
                            id=""
                            class="btn btn-primary"
                        >
                            <a href=" " style="text-decoration: none; color: white;">Advice</a>
                        </button>
                    </div>
                </li>
                <li style="margin-bottom: 0.5rem; margin-right: 1rem;">
                    <div class="d-grid gap-2">
                        <button
                            type="button"
                            name=""
                            id=""
                            class="btn btn-primary"
                        >
                            <a href=" " style="text-decoration: none; color: white;">Medicines</a>
                        </button>
                    </div>
                </li>
                <li style="margin-bottom: 0.5rem; margin-right: 1rem;">
                    <div class="d-grid gap-2">
                        <button
                            type="button"
                            name=""
                            id=""
                            class="btn btn-primary"
                        >
                            <a href=" " style="text-decoration: none; color: white;">Vaccinations</a>
                        </button>
                    </div>
                </li>
                <li style="margin-bottom: 0.5rem; margin-right: 1rem;">
                    <div class="d-grid gap-2">
                        <button
                            type="button"
                            name=""
                            id=""
                            class="btn btn-primary"
                        >
                            <a href=" " style="text-decoration: none; color: white;">Healthy Living</a>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
</div>